@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --cor01:#051a26;
    --cor02:#007854;
    --cor03:#ffffff;
    --cor04:#063433;
    --cor05:#36d8c3;
    --font: "Montserrat", sans-serif;
}

/*=====CSS GLOBAL=====*/

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

/*=====CSS HERADER=====*/

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor01);
    height: 90px;
    width: 100%;
    padding: 10px;
    position: fixed;
    transition: none 3s;
}

header.transparent {
    background-color: rgba(5, 26, 38, 0.8);
    transition: background-color 0.3s ease;
}

header >div{
    position: relative;
    display: flex;
}

div#logo-cl{
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    left: 30px;

}

div#logo-cl > span{
    position: relative;
    background-color: var(--cor03);
    width: 10px;
    height: 30px;
    border-radius: 7px; 
}

#span-01{
    position: absolute;
    top: 8px;
}
#span-02{
    position: absolute;
    top: -8px;
}

div#Portifolio-CL{
    display: flex;
    position: relative;
    align-items: center;
    color: var(--cor03);
    font-size: 1.2em;
    left: 40px;
}

div#Portifolio-CL strong{
    color: var(--cor02);
}

div#Menu-nav{
    display: flex;
    position: relative;
    align-items: center;
    right: 60px;
}

div#Menu-nav > nav {
    display: flex;
    position: relative;
}

div#Menu-nav > nav >ul{
    list-style: none;
    position: relative;
    display: flex;
    gap: 20px;
}

div#Menu-nav > nav >ul >li{
    font-size: 1.2em;
    font-weight: bold;
}

div#Menu-nav > nav >ul >li >a{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: var(--cor03);
}

div#Menu-nav > nav >ul >li >a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--cor02);
    transition: width 0.3s ease;
}

div#Menu-nav > nav >ul >li >a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

div#Contado{
    position: relative;
    display: flex;
    align-items: center;
    right: 50px;
}
div#Contado >p{
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
}

div#Contado >p >a{
    position: relative;
    text-decoration: none;
    color: var(--cor03);
}

div#Contado >p::after{
    border-bottom: 2px solid var(--cor01);
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    border-radius: 10px;
}

div#Contado >p:hover::after{
    width: 100%;
    background-color: var(--cor03);
    transition: width 0.3s ease;
}

div#Contado >p:hover{
    background-image: linear-gradient(to right, var(--cor05), var(--cor04));
    transition: background-image 0.3s ease;
}


/*======CSS MAIN*======/

/*======CSS SECTION HOME=====*/

main{
    padding-top: 110px;
}

main > section#home{
    display: flex;
    background-color:var(--cor01);
}

